.header{
    grid-column: 3 / 5;

    margin: 2rem 0;

    background-color: var(--yellow);
}

.header nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.header nav > ul li{
    padding: 15px;

    font-weight: bold;
    font-size: 0.875rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;

    cursor: pointer;
}

.header nav > ul > li:last-of-type::after{
    content: '►';
    display: inline-block;
    margin: 0 0 0 10px;
}

/* dropdown nav */
[data-dropdown]{
    position: relative;
}

[data-dropdown] .dropdown-menu{
    display: none;
}

/* [data-dropdown]:hover .dropdown-menu, */
[data-dropdown="active"] .dropdown-menu{
    display: block;

    animation: showBottom-to-Top 0.3s forwards;
}

.dropdown-menu{
    padding: 10px;

    position: absolute;
    z-index: 20;
    top: 40px;

    background-color: var(--orange);
    color: var(--color-white);
    border: 2px solid var(--color-black);
}

.dropdown-menu::before{
    content: '';
    display: block;

    position: absolute;
    top: -10px;

    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid var(--orange);
}

.dropdown-menu li:hover a{
    color: var(--color-white);
}

/* menu mobile */
[data-mobile="menu"]{
    display: none;
}

@media(max-width: 768px){
    
    .header{
        margin: 0 0 2rem 0;
    }

    .js [data-mobile="menu"]{
        display: flex;
        align-items: center;
        padding: 8px 16px;
        margin: 10px;

        color: var(--color-white);
        background-color: var(--color-black);
        border-radius: 4px;

        text-transform: uppercase;
        font-family: var(--font-primary);
        font-weight: bold;

        position: relative;
        z-index: 100;
        cursor: pointer;
    }

    .js [data-mobile="menu"]::before{
        content: '';
        display: inline-block;
        height: 2px;
        width: 12px;
        margin-right: 8px;

        background-color: var(--color-white);

        /* macete para criar as outras 3 barras */
        box-shadow: 0 4px var(--color-white),
                    0 -4px var(--color-white);
    }

    .js [data-menu="list"]{
        /* display: none; */
        display: block;
        width: 100%;
        max-width: 160px;
        padding: 60px 0 20px 0;

        background-color: var(--yellow);
        
        position: absolute;
        top: 0;
        z-index: 50;

        box-shadow: 2px 2px 2px 0 var(--shadow);
    }

    /* .js [data-menu="list"].active{
        display: block;
    } */

    .js .dropdown-menu{
        position: static;
        border: none;
    }

    .js [data-menu="list"] > li:has(.dropdown-menu){
        padding: 0;
    }

    .js [data-menu="list"] > li:has(.dropdown-menu) p{
        padding: 10px 15px;
    }
}