.slide__wrapper {
    overflow: hidden;

    grid-column: span 3;
}

.slide__images {
    display: flex;

    cursor: pointer;
}

.slide__images li{
    flex-shrink: 0;

    width: 80vw;
    max-width: 800px;

    margin: 0 20px;

    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px var(--shadow);

    opacity: 0.8;
    transform: scale(0.8);
    transition: all 0.3s;
}

.slide__images li.activeSlide{
    opacity: 1;
    transform: scale(1);
}

ul[data-control='slide']{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

ul[data-control='slide'] li a{
    width: 16px;
    height: 16px;
    margin: 8px;

    background-color: var(--yellow);
    color: transparent;
    border-radius: 100%;
    text-indent: -999px;

    overflow: hidden;
    transition: 0.2s ease;
}

ul[data-control='slide'] li a:hover,
ul[data-control='slide'] li.activeSlide a{
    background-color: var(--orange);
}